body{
    background-color: wheat;
    color: saddlebrown;
   
   
}
h1{
    text-align: center;
}
.img-div{
    
    
  text-align: center;
 

}
img{
    
    text-align: center;
}
p {text-align: justify;
}
div{
    text-align: center;
}